.chart-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 515px;
  height: 331px;
  border-radius: 5px;
  transition: 0.3s all;
  background-color: #fafafa;
  box-shadow: 0 0 10px 0 rgba(0, 44, 74, 0.3);
  position: absolute;
  z-index: 401;
  bottom: 40px;
  right: 40px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
  .chart-card h4 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    color: #002c4a; }
  .chart-card .chart-card-header {
    display: flex;
    justify-content: space-between; }
  .chart-card .chart-card-close-button {
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer; }
  .chart-card .chart-card-controls {
    margin-right: 70px; }
  .chart-card .filter-wrapper {
    display: flex;
    border: 1px solid #ccdfeb; }
  .chart-card .filter-item {
    width: 60px;
    text-align: center;
    border-right: 1px solid #ccdfeb;
    cursor: pointer;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px; }
    .chart-card .filter-item.selected {
      box-shadow: 0 0 0px 2px #005691;
      color: #005691;
      font-weight: 500; }
  .chart-card .chart-card-info {
    margin-left: 6px; }
    .chart-card .chart-card-info span {
      font-size: 14px;
      color: #002c4a; }
  .chart-card a {
    color: #005691; }
  .chart-card.hidden {
    opacity: 0;
    visibility: hidden; }
  .chart-card text {
    font-family: Roboto;
    font-size: 14px;
    fill: #002c4a; }
  .chart-card .chart-card-footer {
    font-size: 14px;
    margin-top: 32px; }
